img {
	position: absolute;
    clip: rect(270px,200px,270px,200px);
}
#name {
	width: ;
    border: ;
    padding: ;
    margin: ;
}


h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size:24px;
	font-style: bold;
}

#container {
	width:960px;
}

#top {

}